<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default.html :: header">
</head>
<body>
	<nav th:insert="layout/default.html :: navbar"></nav>
<div class="container">
<br><br><br><br>
	<h3 th:text="#{order.complete}"></h3>
	<br>




	<p th:text="#{Thanks.for.shopping}" />
	<p th:text="#{cart.newSolde}+${athleteCredit}" />
	
	<a th:href="@{'/athlete-events/'+${#authentication.getPrincipal().getUsername()}}"
							th:text="#{menu.sessions}"></a>


</div>
	<br>
	<br>
	<br>
	<br>
	<div th:insert="layout/default.html :: footer"></div>

	<div th:insert="layout/default.html :: scripts"></div>
</body>
</html>