<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="layout/default.html :: header">
</head>
<body>
	<nav th:insert="layout/default.html :: navbar"></nav>
	<br>
	<br>
	<br>
	<br>
	<div class="container" sec:authorize="hasRole('COACH')">
		<form class="form-horizontal" name="gestionCoachForm" method="post"
			th:action="@{/create-event}" th:object="${eventDTO}">

			<div id="decision" class="row" style="margin-top: 1%;">
				<div class="col-md-8">
					
					<br>
					<h5 th:text="'Création d\'un évênement pour l\'activité: '+${activityDTO.name}"></h5>
					
					<br>
					<h5 th:text="#{events.name}"></h5>
					<input type="text" th:value="${eventDTO.name}"
						class="form-control mb-4 col-4" placeholder="Name">
					<br>
					<h5 th:text="#{events.date}"></h5>
					<input type="date" th:value="${eventDTO.date}">  <br> <br>
					<h5 th:text="#{events.cost}"></h5>
					<input type="number" step="0.1" min="${activityDTO.creditcostMin}"
						max="${activityDTO.creditcostMax}" th:value="${eventDTO.creditCost}"
						class="form-control mb-4 col-4" placeholder="Credit">

					<h5 th:text="#{events.duration}"></h5>
					<input type="number" step="1" min="0" max="200"
						th:value="${eventDTO.duration}" class="form-control mb-4 col-4"
						placeholder="Duration">

					<h5 th:text="#{events.description}"></h5>
					<input type="text" th:value="${eventDTO.description}"
						class="form-control mb-4 col-4" placeholder="Description">

					<h5 th:text="#{events.intensity}"></h5>
					<input type="number" step="1" min="0" max="200"
						th:value="${eventDTO.intensity}" class="form-control mb-4 col-4"
						placeholder="Intensity">

					<h5 th:text="#{events.equipment}"></h5>
					<input type="text" th:value="${eventDTO.equipment}"
						class="form-control mb-4 col-4" placeholder="Equipment"> <br>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-5">
							<button type="submit" name="activityCreateButton"
								class="btn btn-primary" th:text="#{new.account.create}">Créer</button>
						</div>
					</div>
				</div>
			</div>

		</form>
		<br> <br> <br> <br>
		<div th:insert="layout/default.html :: footer"></div>
	</div>
	<div th:insert="layout/default.html :: scripts"></div>
</body>
</html>