<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="layout/default.html :: header">
</head>
<body>
<nav th:insert="layout/default.html :: navbar"></nav>
<br><br><br><br>
<div class="container" sec:authorize="hasRole('ADMIN')" >
<h3 th:text=#{manage.sport}></h3>

<!-- ---------------------------------------------------- CATEGORIES ---------------------------------------------------- -->
<div th:if="${disciplineDTOs !=null}">
		<div  th:if="${disciplineDeleted != null}">
				<h4 class="alert alert-success" th:text="${disciplineDeleted}+' '+#{sport.deleted}"></h4>
		</div>
		<div  th:if="${disciplineUpdated != null}">
				<h4 class="alert alert-success" th:text="${disciplineUpdated}+' '+#{sport.updated}"></h4>
		</div>
		<div  th:if="${activityDeleted != null}">
				<h4 class="alert alert-success" th:text="${activityDeleted}+' '+#{sport.deleted}"></h4>
		</div>
		<div  th:if="${activityUpdated != null}">
				<h4 class="alert alert-success" th:text="${activityUpdated}+' '+#{sport.updated}"></h4>
		</div>
		
		<h3 th:text="#{discipline.list}"></h3>
		<br>
		<div class="row justify-content-start" >
		<table>		
		<tr class="bg-light">
		<th class="col-sm-1" th:text="#{sport.id}"></th>
		<th class="col-sm-3" th:text="#{sport.name}"></th>
		<th class="col-sm-1"></th>
		<th class="col-sm-1"></th>
		</tr>
			<tr th:if="${categoryDTOs.size()>0}" th:each="categoryDTO: ${categoryDTOs}">
				<td class="col-sm-1"><a th:href="@{'/manage-products/'+${categoryDTO.id}}"  th:text="${categoryDTO.id}"></a></td>
				<td class="col-sm-3" th:text="${categoryDTO.name}"></td>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/update-category/'+${categoryDTO.id}}" th:text="#{catalog.update}"></a></th>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/delete-category/'+${categoryDTO.id}}" th:text="#{catalog.delete}"></a></th>
			</tr>		
			<tr th:if="${categoryDTOs.size()==0}">
				<td class="col-sm-7" th:text=#{category.empty}></td>
		</tr>	
		</table>	
		</div>
</div>		
		<!-- ---------------------------------------------------- PRODUCTS ---------------------------------------------------- -->
		
		<div th:if="${productDTOs !=null}">
		<h3 th:text="#{product.list}"></h3>
		<br>
		<div class="row justify-content-start" >
		<table>		
		<tr class="bg-light">
		<th class="col-sm-1" th:text="#{catalog.id}"></th>
		<th class="col-sm-3" th:text="#{catalog.name}"></th>
		<th class="col-sm-1"></th>
		<th class="col-sm-1"></th>
		</tr>
			<tr th:if="${productDTOs.size()>0}" th:each="productDTO: ${productDTOs}">
				<td class="col-sm-1"><a th:href="@{'/manage-items/'+${productDTO.id}}"  th:text="${productDTO.id}"></a></td>
				<td class="col-sm-3" th:text="${productDTO.name}"></td>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/create-item/'+${productDTO.id}}" th:text="#{item.create}"></a></th>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/update-product/'+${productDTO.id}}" th:text="#{catalog.update}"></a></th>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/delete-product/'+${productDTO.id}}" th:text="#{catalog.delete}"></a></th>
			</tr>		
			<tr th:if="${productDTOs.size()==0}">
				<td class="col-sm-7" th:text=#{product.empty}></td>
		</tr>	
		</table>	
		</div>
</div>	
		<!-- ---------------------------------------------------- ITEMS ---------------------------------------------------- -->
		
<div th:if="${itemDTOs !=null}">
		<h3 th:text="#{item.list}"></h3>
		<br>
		<div class="row justify-content-start" >
		<table>		
		<tr class="bg-light">
		<th class="col-sm-1" th:text="#{catalog.id}"></th>
		<th class="col-sm-3" th:text="#{catalog.name}"></th>
		<th class="col-sm-1"></th>
		<th class="col-sm-1"></th>
		</tr>
			<tr th:if="${itemDTOs.size()>0}" th:each="itemDTO: ${itemDTOs}">
				<td class="col-sm-1" th:text="${itemDTO.id}"></td>
				<td class="col-sm-3" th:text="${itemDTO.name}"></td>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/update-item/'+${itemDTO.id}}" th:text="#{catalog.update}"></a></th>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/delete-item/'+${itemDTO.id}}" th:text="#{catalog.delete}"></a></th>
			</tr>		
			<tr th:if="${itemDTOs.size()==0}">
				<td class="col-sm-7" th:text=#{item.empty}></td>
		</tr>	
		</table>	
		</div>
</div>	

<br><br><br><br>
<div th:insert="layout/default.html :: footer"></div>
</div>
<nav th:insert="layout/default.html :: footernavbar"></nav>
<div th:insert="layout/default.html :: scripts"></div>
</body>
</html>